<div>
  <br>
  <mat-card>
    &nbsp; &nbsp; &nbsp;
    <button mat-raised-button color="primary" routerLink="/find">
      Home
      &nbsp; &nbsp; &nbsp;
      <mat-icon>home</mat-icon>
    </button>
    &nbsp; &nbsp; &nbsp;
    <button mat-raised-button color="primary" routerLink="/find">
      Find Another Place
      &nbsp; &nbsp; &nbsp;
      <mat-icon>search</mat-icon>
    </button>
    &nbsp; &nbsp; &nbsp;
    <button mat-raised-button color="primary" routerLink="/list_of_stations/heat_map_divvy_stations" class=heat-button-divvy>
      Heat Map Divvy Stations
      &nbsp; &nbsp; &nbsp;
      <mat-icon>map</mat-icon>
    </button>
    <button mat-raised-button color="primary" routerLink="/list_of_places" id="back-button">
      Back
      &nbsp; &nbsp; &nbsp;
      <mat-icon>arrow_back</mat-icon>
    </button>
    <br><br>
    <mat-divider></mat-divider>
    <br>
    <table mat-table [dataSource]="stations">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="stationName">
        <th mat-header-cell *matHeaderCellDef>stationName</th>
        <td mat-cell *matCellDef="let element"> {{element.stationName}} </td>
      </ng-container>

      <ng-container matColumnDef="availableBikes">
        <th mat-header-cell *matHeaderCellDef>availableBikes</th>
        <td mat-cell *matCellDef="let element"> {{element.availableBikes}} </td>
      </ng-container>

      <ng-container matColumnDef="availableDocks">
        <th mat-header-cell *matHeaderCellDef>availableDocks</th>
        <td mat-cell *matCellDef="let element"> {{element.availableDocks}} </td>
      </ng-container>

      <ng-container matColumnDef="is_renting">
        <th mat-header-cell *matHeaderCellDef>is_renting</th>
        <td mat-cell *matCellDef="let element"> {{element.is_renting}} </td>
      </ng-container>

      <ng-container matColumnDef="lastCommunicationTime">
        <th mat-header-cell *matHeaderCellDef>lastCommunicationTime </th>
        <td mat-cell *matCellDef="let element"> {{element.lastCommunicationTime}} </td>
      </ng-container>

      <ng-container matColumnDef="latitude">
        <th mat-header-cell *matHeaderCellDef>latitude</th>
        <td mat-cell *matCellDef="let element"> {{element.latitude}} </td>
      </ng-container>

      <ng-container matColumnDef="longitude">
        <th mat-header-cell *matHeaderCellDef>longitude</th>
        <td mat-cell *matCellDef="let element"> {{element.longitude}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>status</th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <th mat-header-cell *matHeaderCellDef>totalDocks</th>
      <ng-container matColumnDef="totalDocks">
        <th mat-header-cell *matHeaderCellDef>totalDocks</th>
        <td mat-cell *matCellDef="let element"> {{element.totalDocks}} </td>
      </ng-container>





      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </mat-card>
</div>

<div>
  <router-outlet></router-outlet>
</div>